livekit-agents[openai,cartesia,silero,groq,elevenlabs,assemblyai,google,turn-detector,deepgram,speechmatics,hume,gladia,xai,mcp]
livekit-plugins-openai
livekit-plugins-noise-cancellation
python-dotenv
logging
torch
mem0ai
twilio
requests
livekit-plugins-ai-coustics
google-genai
composio